body {
  background-color: #fff7ea;
}

.account-form-container {
  margin-top: 24vh;
  margin-bottom: 24vh;
  display: flex;
  justify-content: center;
}

.account-form-content-container {
  display: flex;
  flex-direction: column;
  background-color: #ffe9c3;
  justify-content: center;
  padding: 40px;
  width: 360px;
}

.account-form-header {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.account-form-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.account-form-label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}

.account-form-input {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #e8ddc9;
  border-radius: 4px;
}

.account-form-input:focus {
  outline: none;
}

.account-form-button {
  width: fit-content;
  padding: 10px 24px 8px 24px;
  font-size: 18px;
  font-weight: 400;
  background-color: #08270f;
  color: #fcf9f3;
  border: none;
  display: flex;
  align-self: left;
  text-decoration: none;
}

.account-form-button:hover {
  background-color: #224229;
}

.account-form-additional {
  margin-top: 40px;
}

.account-form-additional-path {
  color: #1161ff;
  text-decoration: none;
}

.err-message {
  font-size: 14px;
  font-weight: 400;
  color: #970202;
  margin-top: 0px;
  margin-bottom: 24px;
  line-height: 18px;
}
