.footer-container {
  background-color: #08270f;
  padding: 96px 16px;
  display: flex;
  flex-flow: column wrap;
  color: #fcf9f3;
  justify-content: center;
}

.footer-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-section-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 48px;
}

.footer-label {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.footer-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}

.footer-link:hover {
  text-decoration: underline;
}
