.table-wrapper {
  display: flex;
  justify-content: center;
}

.table-headers {
  background-color: white;
}

.orders-table {
  border-collapse: collapse;
  width: 75vw;
  margin-bottom: 80px;
}

.orders-table td,
.orders-table th {
  border: 1px solid black;
  padding: 8px;
}

.orders-table th {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: left;
  background-color: rgba(123, 143, 123, 0.651);
  text-align: center;
}

th {
  text-align: left;
}

td {
  line-height: 20px;
}

.edit-btn:hover {
  background-color: rgba(121, 173, 134, 0.507);
}

.success {
  margin-top: 30vh;
}
