.review-content-container {
  background-color: #ffe9c3;
  padding: 40px;
  margin: 40px 0px 0px 0px;
}
.reviews-content {
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid #dde3de;
  margin: 80px 0px;
}

.add-review-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin: 0px 0px 8px 0px;
}

.product-review-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

.product-review-label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}

.product-review-input-field {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e8ddc9;
  margin-bottom: 24px;
  width: 100%;
  border-radius: 4px;
}

.product-review-input-field:focus {
  outline: none;
}

.product-review-add-button {
  width: fit-content;
  padding: 10px 24px 8px 24px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  background-color: #08270f;
  color: #fff;
  border: none;
  display: flex;
  align-self: left;
  text-decoration: none;
}

.product-review-add-button:hover {
  background-color: #224229;
}

.rating {
  unicode-bidi: bidi-override;
  direction: lrt;
}
.rating > span:hover:before,
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

.star-rating {
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="radio"] {
  display: none;
}
