.search input {
    background-color: white;
    border: 0;
    height: 30px;
    width: 200px; 
}

.search-results {
    display: none;
    position: absolute;
    background-color: white;
    width: 147px;
}

.active { 
    display: block;
}

.search-query:hover {
    background-color: rgba(139, 136, 136, 0.575);
}